{% extends 'main/layout.html' %}

{% block title %}
Про нас
{% endblock %}

{% block content %}
<div class="features">
    <h1>Про нас</h1>
    <p>Создатели: Зиновьева Василина Сергеевна 1572б Шишкина Анастасия Викторовна 1572б</p>
    <p>Применение лабораторных работ по дисциплине: Прикладное программное обеспечение</p>
    <p>Темы лабораторных работ по созданию сайта: Магазин продажи домов (Зиновьева), библиотека онлайн (Шишкина).</p>
    <button class="btn btn-danger">Взорвать дом или библиотеку</button>
</div>
{% endblock %}


