{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <h2>Элитная недвижимость и книги онлайн</h2>
    <p>
    Надежные и актуальные данные обо всех объектах элитной недвижимости, ежедневное обновление предложений, новостей и эксклюзивной аналитики от экспертов.</p>
    <p>«Продажа квартир» — раздел, где представлены квартиры бизнес- и элит-класса в престижных районах города от собственников, агентств и частных брокеров.</p>
    <p>«Продажа домов» — статусные локации, дома и участки в Подмосковье: современные коттеджи и реконструированные исторические здания.</p>
    <p>«Новостройки» — элитные жилые комплексы в историческом центре и дома в новых районах застройки. Разнообразные форматы проживания: квартиры, пентхаусы, апартаменты.</p>
    <p>«Аренда» — эксклюзивные предложения столицы и пригородов: престижные квартиры в клубных домах, коттеджи в элитных поселках.</p>
    <p>А также на нашем сайте можно найти много интересных книг которые можно почитать онлайн.</p>

</div>
{% endblock %}